[Unit]
Description=CIFS Mount for fastpool
DefaultDependencies=no
Requires=network-online.target
After=network-online.target
Before=remote-fs.target
# 增加重試機制
StartLimitIntervalSec=0
StartLimitBurst=5

[Mount]
What=//truenas/fastpool
Where=/mnt/fastpool
T
ype=cifs
Options=multichannel,vers=3,rw,mfsymlinks,echo_interval=300,username=df,password=0,file_mode=0777,dir_mode=0777

[Install]
WantedBy=multi-user.target

