[Unit]
Description=NFS Mount for appdata
DefaultDependencies=no
Requires=network-online.target
After=network-online.target
Before=remote-fs.target

[Mount]
What=truenas:/mnt/cachePool/appdata
Where=/mnt/appdata
Type=nfs
Options=nfsvers=4,rw,noatime,rsize=32768,wsize=32768

[Install]
WantedBy=multi-user.target
