[Unit]
Description=NFS Mount for mydata
DefaultDependencies=no
Requires=network-online.target
After=network-online.target
Before=remote-fs.target
# 增加重試機制
StartLimitIntervalSec=0
StartLimitBurst=5

[Mount]
What=truenas:/mnt/dfpool/nas/user/mydata
Where=/mnt/mydata
Type=nfs
Options=nfsvers=4,rw,noatime,rsize=32768,wsize=32768

[Install]
WantedBy=multi-user.target

